
.header-container {
    & { height: 8%; width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-between; font-family: 'Inter', sans-serif; }

    .header-logo {
    & { font-family: 'Nosifer', sans-serif; font-size: 16px; font-weight: 400; }
        
}

.header-menu-desktop {
    & { display: flex; align-items: center; justify-content: space-between; gap: 24px; }
}
.header-menu-mobile {
    & { display: none; }
    .header-nav > nav > ul {
        & { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 24px 0; font-size: 18px; }
    }
    .login-container {
        & { display: flex; padding: 24px 0; font-size: 18px; }
    }
    .close {
        & { position: absolute; top: 10px; right: 10px; outline: none; border: 1px solid #fff; background-color: #161616; color: #ffffff; cursor: pointer; border-radius: 4px; padding: 4px 6px;}
    }
}

.header-nav > nav > ul {
            & {  display: flex; gap: 54px; text-decoration: none; list-style-type: none; cursor: pointer;  }
        }
        .login-container { 
            & { display: flex; gap: 27px; align-items: center; justify-content: center; }
            button {
                & { height: 42px; width: 112px; background-color: #161616; color: #ffffff; border: 1px solid #727272; border-radius: 49px; cursor: pointer; }
            }
            h4 {
                & { cursor: pointer; font-weight: 400; }
            }
        }
}

.mobile-nav-toggle-button {
    & { display: none; }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 1rem;
    }
    .header-menu-desktop {
        & { display: none !important;   }
    }
    .header-menu-mobile {
        & { display: block ; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; background-color: #161616; height: 100vh;}

    }
    .mobile-nav-toggle-button {
        & { display: block; cursor: pointer; }
    }

}


